* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
      font-size: 16px;
      font-family: Verdana;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }


.tap-to-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 21, 35) 0%, rgb(0, 83, 131) 100%);
    color: white;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.fly-board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    animation: birdAppear 1s ease-in-out forwards, birdFly 2s ease-in-out infinite forwards;
    transform-origin: center bottom;
}

@keyframes birdFly {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes birdAppear {
    0% {
        opacity: 0;
        transform: translateX(-50px) scale(0.2); /* Start small and move to the left */
    }
    25% {
        opacity: 0.3; /* Gradually increase opacity */
        transform: translateX(20px) scale(0.5); /* Move to the right and scale up */
    }
    50% {
        opacity: 0.6; /* Further increase opacity */
        transform: translateX(-10px) scale(0.8); /* Move to the left and scale up */
    }
    75% {
        opacity: 0.8; /* Gradually approach full opacity */
        transform: translateX(5px) scale(1); /* Move to the right and scale up */
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1); /* Normalize position and size */
    }
}

.hi-message {
    position: relative;
    color: #ffbb00;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    background: #000;
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    border: 10px solid #D2B48C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.hi-message::before,
.hi-message::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 160px;
    height: 160px;
    z-index: -1;
}

.hi-message::before {
    left: -130px;
    margin-top: -80px;
    background: url('../../assets/images/left-wing.png') center/cover no-repeat;
    animation: leftWingMotion 1.5s infinite ease-in-out alternate;
    transform: rotate(-45deg);
}

.hi-message::after {
    right: -130px;
    margin-top: -80px;
    background: url('../../assets/images/right-wing.png') center/cover no-repeat;
    animation: rightWingMotion 1.5s infinite ease-in-out alternate;
    transform: rotate(45deg);
}

@keyframes leftWingMotion {
    0%, 100% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-20px) rotate(10deg);
    }
}

@keyframes rightWingMotion {
    0%, 100% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-20px) rotate(-10deg);
    }
}

#tapImage {
    margin-top: 0px;
    width: 300px;
    cursor: pointer;
}

.sky-land {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
}

.sky-land::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, #5EA7D0, #99D6F3, #80CEF4, #6BBDE3, #87CEEB 50%, #2E8B57 50%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.sky-land::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #74A54D, #5C8C3A 50%, #4F7D2D);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    backdrop-filter: blur(10px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}

#greeting-card-content {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    margin: 20px;
    margin-top: 30px;
    display: none;
}

#greeting-card-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #333;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#greeting-card-content img:hover {
    transform: scale(1.2);
}


#greeting-name {
    color: #ffbb00;
}

.f-name {
    color: #ff0000;
    font-weight: bold;
    padding: 5px;
    font-size: 40px;
    font-weight: 900;
    -webkit-text-stroke: 0.5px black;
    animation: scaling 1s infinite alternate ease-in-out;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}


  .message-board {
    min-height: 230px;
    max-height: 300px;
    min-width: 350px;
    max-width: 450px;
    position: relative;
    background: #282928;
    font-family: 'Noto Sans', sans-serif;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    color: #cfcfcf;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    border: 15px solid;
    border-image: linear-gradient(45deg, #7A4A32, #D2B48C) 30;
    border-image-slice: 1;
  }

  .message-board:before,
.message-board:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -80px;
    width: 30px;
    height: 80px;
    border-radius: 5px;
    z-index: -1;
    mask-image: linear-gradient(to top, transparent 0%, black 30%);
    background: linear-gradient(45deg, #7A4A32, #D2B48C);
}




.message-board:before {
    left: 20%;
}

.message-board:after {
    right: 20%;
}
  
  
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.new-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: linear-gradient(45deg, #000c75, #01020d);
    border: 2px solid;
    border-image: linear-gradient(45deg, #00f7ff, #0800ff);
    border-image-slice: 1;
    position: fixed;
    bottom: 5vh;
    text-align: center;
    padding: 5px 10px;
    animation: rubberBand 4s infinite;
}


      a {
        color: #00ffd0;
        text-decoration: none;
        }


@keyframes rubberBand {
    0% {
        transform: scale(1); 
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.color-blast {
    position: fixed;
    z-index: 1;
}

.color-blast img {
    position: absolute;
    animation: bombBlast 1s ease-in-out forwards;
    display: none;
    background-color: transparent;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.blast {
    position: absolute;
    background-color: #ff0000;
    border-radius: 50%;
    animation: bombBlast 1s ease-in-out forwards;
}

@keyframes bombBlast {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }