* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#header {
  margin-bottom: 50px;
}

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #02040A;
    padding: 0 10px;
    color: #ffffff;
    border-bottom: 1px solid #404040;
    z-index: 998;
    top: 0;
    left: 0;
  }
  
  .hamburger, .close-btn, .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
  }

  .logo {
    height: 40px;
  }
  
  .left-sidebar {
    display: none;
    flex-direction: column;
    background-color: #0E1117;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 70%;
    max-width: 300px;
    padding-top: 0px;
    z-index: 999;
    border-right: 2px solid #333;
    animation: slideIn 0.3s ease-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }
  
  .left-sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left-sidebar-logo-img {
    height: 40px;
    padding: 1.5px;
  }
  
  .left-sidebar .links-container {
    height: calc(100% - 150px);
    overflow-y: auto;
    border-bottom: 3px solid #333;
    border-top: 3px solid #333;
  }
  
  .left-sidebar a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
    color: #E5EDF2;
    transition: background-color 0.3s;
  }
  
  .left-sidebar a .material-icons-outlined {
    margin-right: 10px;
    color: #848D97;
  }
  
  .left-sidebar a:hover {
    background-color: #2e343e;
  }
  
  .left-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .left-sidebar ul li {
    position: relative;
  }
  
  .tools-category {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1A1F23;
    border-left: 5px solid #1F6EEB;
    font-weight: bolder;
    font-size: 20px;
    color: #E5EDF2;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: -40px;
    font-size: 24px;
    padding: 5px;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
  
  /* Keyframes for the slide-in animation */
  @keyframes slideIn {
    from {
      transform: translateX(-250px);
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Keyframes for the slide-out animation */
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-250px);
    }
  }
  
  .left-sidebar-closed {
    animation: slideOut 0.3s ease-in;
  }
  