* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }
  

body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 60%;
    height: auto;
}

.form-container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.name-inputs {
    display: flex; /* Use flexbox */
    gap: 10px; /* Adjust the gap between inputs */
  }
  
  .input-container {
    flex: 1; /* Make each input container flex-grow */
  }
  
  .input-container label,
  .input-container input {
    width: 100%; /* Make labels and inputs fill their containers */
  }
  

.form input[type="email"],
.form input[type="password"],
.form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    box-sizing: border-box;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.form button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button[type="submit"]:hover {
    background-color: #0056b3;
}

.separator-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .separator-left, .separator-right {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  .or-text {
    margin: 0 10px;
    color: #d2d2d2;
    font-size: 16px;
  }
  

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    background-color: #ffffff; /* Google red color */
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google-btn:hover {
    background-color: #dedede;
}

.google-logo {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}


.form p.message {
    text-align: center;
    margin-top: 20px;
}

.form p.message a, .form p.reset-pass a {
    color: #00a6ff;
    text-decoration: none;
}

.form p.message a:hover {
    text-decoration: underline;
}

.form p.reset-pass {
    margin-top: -10px;
    padding: 0;
    font-size: 0.7em;
}

.error-message {
    color: #ff4444;
    font-size: 14px;
    margin-top: 10px;
}

/* Add CSS styles for success messages */
.success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }
  

.password-strength {
    margin-bottom: 10px;
}

.checkbox-label {
    display: inline-block;
    font-size: 16px;
    color: #d1d1d1;
    margin-top: 4px;
    margin-bottom: 10px;
  }
  
  .checkbox-label span {
    display: inline-block;
    vertical-align: middle;
    max-height: 20px;
  }
  
  .checkbox-label input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
  }
  
  .checkbox-label input[type="checkbox"]:checked {
    background-color: #007bff;
  }
  
  .checkbox-label input[type="checkbox"]:checked::before {
    content: '\2713';
    display: block;
    text-align: center;
    line-height: 16px;
    color: #fff;
  }
  
  .checkbox-label span:last-child {
    vertical-align: middle;
  }
  
  
/* Media Queries for responsiveness */
@media only screen and (max-width: 600px) {
    .container {
        padding: 0 10px;
    }

    .form-container {
        width: 100%;
        max-width: none;
    }
}
